<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <footer>
<!--        <p>&copy; <?php echo date("Y"); ?> Все права защищены</p> -->
        <p>&copy; 2023 Все права защищены</p>
        <p>Связаться со мной:</p>
       <ul>
           <li><a href="https://t.me/gold_shark">Телеграмм</a></li>
           <li><a href="mailto:mukhamedshin13@gmail.com">Почта</a></li>
<!--        <li><a href="https://t.me/gold_shark"><i class="fab fa-telegram"></i> Телеграмм</a></li>
            <li><a href="mailto:mukhamedshin13@gmail.com"><i class="fas fa-envelope"></i> Почта</a></li>    -->
       </ul>

    </footer>

</html>
