{% extends 'base.html.twig' %}

{% block title %}Список пользователей{% endblock %}

{% block header %}
    <li><a href="/article" class="nav-link px-2">Главная</a></li>
    <li><a href="/users" class="nav-link px-2 link-secondary">Cписок пользователей</a></li>
    <li><a href="/user_info" class="nav-link px-2 ">Мой аккаунт</a></li>
{% endblock %}

{% block body %}
    <div class="user-table-container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
